.section-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.section-center button {
    background-color: rgb(80, 80, 80);
    color: white;
    cursor: pointer;
    border: none;
    padding: 8px 15px;
    transition: 0.3s ease;
    margin-left: 20px;
}

.section-center button:hover {
    background-color: rgb(49, 49, 49);
}

.section-center input {
    padding: 8px 15px;
    margin-left: 20px;
}

@media screen and (max-width: 900px) {
    .lorem-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .section-center input {
        margin: 20px 0;
    }
}